.btn{
  padding:10px;
  border-radius: 0;
  border:none;
}
.btn-freelance{
  @include linear-gradient(to top, orange, orange);
  text-transform: uppercase;
  color: #eeeeee;
  cursor: pointer;
  border-bottom: 2px solid chocolate;
}